<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Feedback page</title>
    <link rel="stylesheet" href="style.css">
</head>
<h1>Welcome To Kahut!</h1>
<body>

<div class="form">
    <form class = "feedback-form" action="#" method="POST">
      <fieldset>
      <legend>
      Your Details:
      </legend>

      <label>Name</label> <br>
      <input placeholder="Enter your name" type="text" name="Username"><br><br>

      <label>Gender</label> <br>
      <input type="radio" name="gender" value="male">Male<br>
      <input type="radio" name="gender" value="female">Female<br><br>

      <label>Email</label> <br>
      <input placeholder="Enter your email" type="text" name="email"><br>
      <br>
      </fieldset>
      <fieldset>
      <legend>
      Hear Your Voice:
      </legend>
      <label>Don't hesitate to share us your comments / POV of our platform</label> <br>
      <textarea placeholder="Enter your comment" name="comments"></textarea><br><br>
      </fieldset>

      <input type="submit" value="Submit">
      <input type="reset" value="Clear">

    </form>
</div>
</body>
</html>