<!DOCTYPE html>
<html>
  <head>
    <meta charset="ïtf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{{ url_for('static',filename='css/style.css') }}"
    />

    
  </head>
  <body>
    <div id="navbar">
      <div id="logo">
        <a href="/"><h1>Kahut!</h1></a>
      </div>
      <div id="nav">
        <a href="feedback" id="comment">Comment</a>
        <a href="/" id="play">Home</a>
        <a href="signup" id="sin">Sign up</a>
        <a href="login" id="log">Login</a>

      </div>
    </div>
    <div class="footer">
        <div class="footer-text-right">
          <p>Create your own quiz by <a href="/login">Signing In</a> or <a href="/signup">Signing Up</a></p>
          <p>Provided Opensource by DT3 Team A4</p>
        </div>
    </div>
    </body>
    {% block pin %} {% endblock %} {% block content %} {% endblock %} {% block
    register %} {% endblock %} {% block login %} {% endblock %}




















    <!-- ---------------------------SCRIPTS--------------------------------- -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <script
      type="text/javascript"
      src="{{ url_for('static', filename='js/main.js') }}"
    ></script>
    <script
      src="https://code.jquery.com/jquery-3.6.0.slim.min.js"
      integrity="sha256-u7e5khyithlIdTpu22PHhENmPcRdFiHRjhAuHcs05RI="
      crossorigin="anonymous"
    ></script>
    <!-- ---------------------------SCRIPTS--------------------------------- -->






    
  </body>
</html>
